@model ProiectDAW.Models.Category
@{
    ViewBag.Title = "Editare Categorie";
}

@if (TempData.ContainsKey("message"))
{
    <br />
    <br />
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}

<h2>@ViewBag.Title </h2>

<form method="post" action="/Categories/Edit/@Model.CategoryId">

    @Html.HttpMethodOverride(HttpVerbs.Put)

    @Html.HiddenFor(m => m.CategoryId)

    @Html.Label("CategoryName", "Denumire categorie")
    <br />
    @Html.Editor("CategoryName")
    <br /><br />

    <button class="btn btn-success" type="submit">Modifica categoria</button>
</form>

