@model ProiectDAW.Models.Product
@{
    ViewBag.Title = "Edit";
}

<h2>Editare Produs</h2>
<form method="post" action="/Products/Edit/@Model.ProductId">
    @Html.HttpMethodOverride(HttpVerbs.Put)
    <br />
    @Html.HiddenFor(m => m.ProductId)
    @Html.Label("Title", "Titlu Produs")
    <br />
    @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
    <br />
    @Html.Label("Description", "Continut Articol")
    <br />
    @Html.Editor("Description", new { htmlAttributes = new { @class = "form-control" } })
    <br />
    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.AllCategories, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
    <br />
    <button class="btn btn-success" type="submit">Modifica articol</button>
</form>


<form method="post" action="/Products/Delete/@Model.ProductId">
    @Html.HttpMethodOverride(HttpVerbs.Delete)
    <br />
    <button type="submit" class="btn btn-danger">Sterge produs</button>
</form>
<hr />
<a href="/Products/Index">Inapoi la produse</a>
<br />
<br />
<a href="/Products/New">Adauga produs</a>