@model ProiectDAW.Models.Product

@{
    ViewBag.Title = Model.Title;
}
<br />
<a class="btn btn-primary pull-left" href="/Products/Index"><i class="glyphicon glyphicon-chevron-left"></i>&nbsp; Inapoi la produse</a>
<a class="btn btn-success pull-right" href="/Products/New"><i class="glyphicon glyphicon-plus-sign"></i>&nbsp; Adauga produs nou</a>
<br />
<br />
<hr />
<div class="panel panel-default">
    <div class="panel-heading">@Model.Title</div>
    <div class="panel-body">
        <strong>@Model.Description</strong>
        <br /><hr />
        <span><i class="glyphicon glyphicon-bitcoin"></i> &nbsp;Pret: @Model.Price lei</span>
        <br /><br />
        <i class="glyphicon glyphicon-globe"></i> &nbsp;@Model.Category.CategoryName
        <br /><br />
    </div>
    @if (User.IsInRole("Editor") || User.IsInRole("Admin"))
    {
        <div class="panel-footer">
            <a class="btn btn-success" href="/Products/Edit/@Model.ProductId"><i class="glyphicon glyphicon-edit"></i> &nbsp;Modifica produs</a>
            <form method="post" class="pull-right" action="/Products/Delete/@Model.ProductId">
                @Html.HttpMethodOverride(HttpVerbs.Delete)
                <button class="btn btn-danger " type="submit"><i class="glyphicon glyphicon-trash"></i> &nbsp;Sterge produs</button>
            </form>
        </div>
    }
</div>


<br />
@foreach (var comm in Model.Comments)
{
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div>
                    <p>@comm.Content</p>
                    <small class="pull-right"><i class="glyphicon glyphicon-calendar"></i> &nbsp;@comm.Date</small>
                </div>
                @if (User.IsInRole("Editor") || User.IsInRole("Admin") || User.IsInRole("User"))
                {
                    <div style="display: inline-block; float : left; margin-right: 15px">
                        <a class="glyphicon glyphicon-pencil" href="/Comments/Edit/@comm.CommentId"></a>
                    </div>
                    <div style="display: inline-block; float : left">
                        <form method="post" action="/Comments/Delete/@comm.CommentId">
                            @Html.HttpMethodOverride(HttpVerbs.Delete)
                            <button class="glyphicon glyphicon-trash" style="border: none; background: transparent" type="submit"></button>
                        </form>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <hr />
}


@if (User.IsInRole("Editor") || User.IsInRole("Admin") || User.IsInRole("User"))
{
    <div class="container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <div class="panel">
                    <form method="post" action="/Comments/New">
                        <div class="panel-body">
                            <input type="hidden" name="ProductId" value="@Model.ProductId" />
                            <label>Continut comentariu</label>
                            <br />
                            <textarea class="form-control" name="Content"></textarea>
                            <br />
                            <button class="btn btn-success " type="submit"><i class="glyphicon glyphicon-plus"></i> &nbsp;Adauga comentariu</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
}








